{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block description %}Login to Yu-Gi-Oh! Card Collection.{% endblock %}

{% block content %}
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td><input type="submit" value="Login" /></td>
        </table>
    </form>

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <p>Don't have an account? <a href="{% url "main:register" %}">Register</a></p>
{% endblock %}